@charset "utf-8";
/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}


.wrap{position: relative; box-sizing: border-box;  margin: 0 auto;  width: 100%;}

.en{font-family: 'PPMori',sans-serif; font-style: normal;}
.en_s{font-family: 'PPEditorialNew',serif; font-style: normal;}
.kr{font-family: 'Yoon Gothic' ,sans-serif; font-style: normal; font-synthesis: none;}

section{width: 100%;}
.inner{padding: 0 110px;}

/* header */
header{width: 100%; padding: 40px 110px 20px; position: fixed; top: 0;left: 0; z-index: 100; display: flex;justify-content: space-between; color: #fff; transition: color .2s ease;}
header .logo{display: inline-block;width: 176px;height: 34px;}
header .logo img{width: 100%;}
header p.img{width: 100%;}
header p.img img{width: 100%; }
header ul.nav{display: flex; gap: 64px; font-size: 16px; font-weight: 500;}
header ul.nav li a{display: block; width: 100%;height: 100%;}
header ul.menu-icon{display: flex; gap: 24px;}
header ul.menu-icon li a{display: block; width: 100%;height: 100%;}


header.active{transform: translateY(-100%);}


/* main-visual */
.main-visual {width: 100vw;height: 100vh; position: relative;}
.main-visual .video-wrap video{width: 100vw; height: 100vh; object-fit: cover; position: absolute; left: 0; top: 0; filter:brightness(70%)}
.main-visual .title{position: absolute; width: 100%; left: 0; top: 35%; transform: translateY(-50%); color: #fff; text-align: center;}
.main-visual .title h2{font-size: 110px; font-weight: 400;margin-bottom: 12px;}
.main-visual .title span{font-style: italic; font-weight: 400;}
.main-visual .title p.sub{font-size: 24px; letter-spacing: 4px; font-style: italic; font-weight: 300;}
.main-visual .cta-but {position: absolute; background: #fff; left: 50%; bottom: 10%; border-radius: 100px; padding: 20px 0; transform: translateX(-50%); width: 470px;}
.main-visual .cta-but a{display: block; width: 100%;height: 100%; text-align: center; color: rgba(34, 34, 34, 0.6);}
.main-visual .cta-but a .img{ background: #222; padding: 12px; position: absolute; top: 50%; right: 6px; transform: translateY(-50%); border-radius: 50%;}

/* ingredients */
.ingredients .inner{position: relative;padding: 180px 110px 0; background: #fff;}
.ingredients .title{ font-size: 110px; margin-bottom: 100px; line-height: 1.2; position: relative;}
.ingredients .title span{display: block; font-size: 14px; color:#848484; font-weight: 300; margin-top: 28px;line-height: 1.5;}
.ingredients p.en_s{position: absolute; left: 43%; top: 460px; font-size: 80px; font-style: italic; border-bottom: 2px solid #222;}
.ingredients a{display: inline-block; font-size: 18px; padding: 14px 38px; border: 1.5px solid #46604A; border-radius: 100px; text-transform: uppercase; color: #46604A;; font-weight: 400;}
.ingredients .svgAni .img{width: 45%; position: absolute; transform: rotate(-116deg) translate(-50%,-50%); left: 32%; bottom: 15%;}
.ingredients .svgAni .img img{width: 100%}
.ingredients .svgAni{width: 30%; position: absolute;right: 8%; top: 2%; }


/* svgAnimation */
#svgAni01{stroke-dasharray: 890; stroke-dashoffset: 890; animation: ani1 .5s linear .5s forwards;}
#svgAni02{stroke-dasharray: 30; stroke-dashoffset: 30; animation: ani2 .8s linear .4s forwards;}

@keyframes ani1{
    0%{stroke-dashoffset: -890;}
    100%{stroke-dashoffset: 0;}
}

@keyframes ani2{
    0%{stroke-dashoffset: -30;}
    100%{stroke-dashoffset: 0;}
}

.ingredients .img-box{margin: 120px 0 260px; text-align: center; position: relative;}
.ingredients .visaul-img img{transform: rotate(30deg);}
.ingredients .img-box ul.card{display: flex;justify-content: space-between;}
.ingredients .img-box ul.card li{position: absolute; background: #f3f4f0; padding: 40px 24px; display: flex;  flex-direction: column; align-items: center; border-radius: 12px; color: #1C3A13; width: 300px;  transform: translate(-50%,-50%); letter-spacing: -.5px;z-index: 2; overflow: hidden;}

.ingredients .img-box ul.card li:nth-child(1){top: 10%; left: 42%;}
.ingredients .img-box ul.card li:nth-child(2){top: 37%; left: 18%;}
.ingredients .img-box ul.card li:nth-child(3){top: 70%; left: 10%;}
.ingredients .img-box ul.card li:nth-child(4){top: 40%; right: -8%;}
.ingredients .img-box ul.card li:nth-child(5){top: 72%; right: 0%;}
.ingredients .img-box ul.card li:nth-child(6){bottom: -23%; right: 26%;}

.ingredients .img-box ul.card li::after{content: '';width: 100%;height: 100%;position: absolute;background: url(../img/main_card_01.png)no-repeat center/cover; left: 0;top: 0; opacity: 0; transform: scale(1.2); transition: all .6s;}
.ingredients .img-box ul.card li:nth-child(2):after{background: url(../img/main_card_02.png)no-repeat center/cover;}
.ingredients .img-box ul.card li:nth-child(3):after{background: url(../img/main_card_03.png)no-repeat center/cover;}
.ingredients .img-box ul.card li:nth-child(4):after{background: url(../img/main_card_04.png)no-repeat center/cover;}
.ingredients .img-box ul.card li:nth-child(5):after{background: url(../img/main_card_05.png)no-repeat center/cover;}
.ingredients .img-box ul.card li:nth-child(6):after{background: url(../img/main_card_06.png)no-repeat center/cover;}

.ingredients .img-box ul.card li:hover:after{opacity: 1;}

.ingredients .img-box ul li .img{width: 110px; height: 110px; border-radius: 50%; overflow: hidden;  display: block; margin-bottom: 36px;}
.ingredients .img-box ul.card li .img img{width:100%; height:100%; object-fit:cover; flex: 0 0 110px; }
.ingredients .img-box ul.card li .text .tit{margin-bottom: 28px; font-size: 30px; font-weight: 600;}
.ingredients .img-box ul.card li .text .txt {font-size: 14px; font-weight: 700;opacity: 0.8; line-height: 1.5; display: flex; }

.ingredients .img-box ul.line li{display: inline-block; position: absolute;z-index: 1;}
.ingredients .img-box ul.line li:nth-child(1){top: 19%; left: 36%; transform: rotate(75deg);}
.ingredients .img-box ul.line li:nth-child(2){top: 39%; left: 21%; transform: rotate(40deg);}
.ingredients .img-box ul.line li:nth-child(3){top: 69%; left: 10%; transform: rotate(-20deg);}
.ingredients .img-box ul.line li:nth-child(4){top: 38%; right: 10%; transform: rotate(-185deg);}
.ingredients .img-box ul.line li:nth-child(5){top: 60%; right: 18%; transform: rotate(-144deg);}
.ingredients .img-box ul.line li:nth-child(6){bottom: 10%; right:35%; transform: rotate(-120deg);}

.ingredients .sub-img{position: absolute; z-index: 4;}
.ingredients .sub-img.a{width: 237px;height: 233px; top: 47%; left: 20%;}
.ingredients .sub-img.b{width: 322px;height: 397px;bottom: -18%; left:31.5%; transform: rotate(-30deg);}
.ingredients .sub-img img{width: 90%;}





.best-itam .inner{padding: 260px 0px 440px;}
.best-itam .titleBox{margin-bottom: 160px; padding: 0 110px;}
.best-itam .titleBox h2{font-size: 110px;}
.best-itam .titleBox h2 span.en_s{font-size: 48px; display: block; font-weight: 400; font-style: italic;}
.best-itam .titleBox p{font-size: 14px;width: 23%; line-height: 1.3; color: #848484;}


.best-itam .top-box{display: flex; justify-content: space-between; margin-bottom: 240px;padding-left: 110px;}
.best-itam .top-box .left-box{width: 39%;height: 840px; border-radius: 0 100px 0 100px; overflow: hidden;position: relative;}
.best-itam .top-box .left-box .video-wrap{width: auto;height: 100%;position: absolute; transform: translateX(-50%); left: 50%;}
.best-itam .top-box .left-box .video-wrap video{width: auto;height: 100%;}

.best-itam .top-box .right-box{width: 51%; display: flex; flex-wrap: wrap;}
.best-itam .top-box .right-box .title-box{display: flex;justify-content: space-between; width: 100%; padding-right: 110px;margin-bottom: 153px;}
.best-itam .top-box .right-box .title-box h2{font-size: 42px;line-height: 1.2; font-weight: 400;}
.best-itam .top-box .right-box .title-box h2 span{font-size: 60px; font-weight: 700; font-style: normal;display: block;}
.best-itam .top-box .right-box .title-box a{display: block; background: #222; width: 52px;height: 52px; text-align: center; line-height: 44px; border-radius: 50%;margin-top: auto;}
.best-itam .top-box .right-box .title-box a img{width: 24px;height: 24px;}

.best-itam .top-box .right-box .best-product{width: 100%;}
.best-itam .best-product .swiper-slide, .best-itam .best-product-right .swiper-slide  {background: #f3f4f0; width: 400px;height: 564px; border-radius: 15px;}
.best-itam .swiper-slide a{display: block; width: 100%;height: 100%; padding: 30px 32px;}
.best-itam .swiper-slide .top{display: flex; justify-content: space-between; margin-bottom: 40px;}
.best-itam .swiper-slide .top p.badge{font-size: 12px; padding: 10px 20px; background: #45663C; color: #fff; border-radius: 100px;}
.best-itam .swiper-slide .top p.icon{width: 40px;height: 40px;background: #fff; border-radius: 50%; text-align: center; line-height: 30px;}
.best-itam .swiper-slide .top p.icon img{width: 20px;height: 20px;}
.best-itam .swiper-slide p.img {margin: 0 auto; width: 220px;height: 330px;margin-bottom: 40px;}
.best-itam .swiper-slide p.img img{width: 100%;}
.best-itam .swiper-slide .bottom{display: flex; justify-content: space-between;}
.best-itam .swiper-slide .bottom h4.name{font-size: 20px; font-weight: 400;}
.best-itam .swiper-slide .bottom p.price{font-size: 24px; font-weight: 600;}

.best-itam .bottom-box{display: flex; justify-content: space-between; padding-right: 110px;}
.best-itam .bottom-box .left-box{width: 39%;height: 840px; border-radius: 100px 0 100px 0 ; overflow: hidden;position: relative;}
.best-itam .bottom-box .left-box .video-wrap{width: auto;height: 100%;position: absolute; transform: translateX(-50%); left: 50%;}
.best-itam .bottom-box .left-box .video-wrap video{width: auto;height: 100%;}

.best-itam .bottom-box .right-box{width: 51%; display: flex; flex-wrap: wrap;}
.best-itam .bottom-box .right-box .title-box{display: flex;justify-content: space-between; width: 100%;padding-left: 110px; margin-bottom: 153px;}
.best-itam .bottom-box .right-box .title-box h2{font-size: 42px;line-height: 1.2; font-weight: 400;}
.best-itam .bottom-box .right-box .title-box h2 span{display: block; font-size: 60px; font-weight: 700; font-style: normal;}
.best-itam .bottom-box .right-box .title-box a{display: block; background: #222; width: 52px;height: 52px; text-align: center; line-height: 44px; border-radius: 50%;margin-top: auto;}
.best-itam .bottom-box .right-box .title-box a img{width: 24px;height: 24px;}


/* vegan */
.vegan{position: relative;}
.vegan .title-box{padding-bottom: 1330px;}
.vegan .title-box h2{font-size: 180px; text-transform: uppercase; line-height: 1;text-align: center; color: #3B3B3B;}
.vegan .title-box h2 p{color:#45663C; display: inline;}
.vegan .title-box h2 span{display: inline-block; width: 100%; text-align: right;}
.vegan .title-box h2 span.en_s{padding-right: 13%; font-size: 170px;font-style: italic;font-weight: 400;line-height: 1.1}


.vegan .Texture{display: flex; position: absolute;}
.vegan .Texture.green{left: 13%; top: 20%;gap: 105px;}
.vegan .Texture p.img img{width: 100%;}
.vegan .Texture.green p.img{transform: rotate(6deg);width: 47%;}
.vegan .Texture.Cream{gap: 85px; float: right;right: -2%; bottom: 18%;}
.vegan .Texture.Cream p.img{transform: rotate(200deg);width: 43%;}
.vegan .Texture .text{ align-self: flex-end; position: relative;}
.vegan .Texture.green .text{margin-bottom: 180px;width: 430px; display: inline-block;}
.vegan .Texture .text .tit-box{display: flex;line-height: 1.3; margin-bottom: 24px; gap: 20px; }
.vegan .Texture .text .tit-box b{font-size: 18px; display: inline-block;}
.vegan .Texture .text .text-box{margin-left: 71px;}
.vegan .Texture.Cream .text { margin-bottom: 120px;}
.vegan .Texture.Cream .text .text-box{margin-left: 51px;}
.vegan .Texture .text .text-box b{font-size: 16px; font-weight: 600; }
.vegan .Texture .text .text-box p.txt{margin-top: 12px; font-size: 14px; color: #565656;line-height: 1.4; font-weight: 600;}

.vegan .Texture.green .text::after{content: ''; position: absolute; left: -80%; top: -54%; width: 70%;height: 70%;background: url(../img/vegan_line_01.svg) no-repeat center/ contain;}

.vegan .Texture.Cream .text::after{content: ''; position: absolute; left: 60%; top: 14%; width: 100%;height: 39%;background: url(../img/vegan_line_02.svg) no-repeat center/ contain; z-index: 3;}

.vegan .btn-stroy{display: inline-block; background: bisque; position: absolute; display: flex; gap: 14px; align-items: center; left: 128px; top: 20%;}
.vegan .btn-stroy .icon{width: 80px;height: 80px;background: #3b3b3b; border-radius: 50%; position: relative; overflow: hidden; display: flex; justify-content: center; align-items: center;}
.vegan .btn-stroy .icon img{transform: rotate(-90deg);width: 40px;height: 40px; opacity: 1;}

.vegan .btn-stroy .text .txt.kr{padding-bottom: 4px; text-decoration: underline; font-size: 14px;}
.vegan .btn-stroy .text .tit.en{font-size: 12px; font-weight: 300 ;line-height: 1.4;}



/* vegon-info */
.vegan-info {background: #F3F4F0;}
.vegan-info .inner{display: flex; justify-content: space-between; padding: 0;}

.vegan-info .left-box{padding: 204px 0px 190px 110px; width: 50%;}
.vegan-info .left-box p.img{width: 39%; margin-bottom: 56px;}
.vegan-info .left-box p.img img{width: 100%;}
.vegan-info .left-box p.badge{font-size: 16px; padding: 8px 20px; border: 1px solid #767676; display: inline-block; border-radius: 100px; margin-bottom: 14px;}
.vegan-info .left-box p.tit{font-size: 40px; margin-bottom: 16px;}
.vegan-info .left-box p.txt{font-size: 14px; font-weight: 500; line-height: 1.5;}
.vegan-info .right-box{padding: 115px 162px; background: #45663C;width: 50%;}
.vegan-info .right-box p.tit{font-size: 70px; color: #fff; text-transform: uppercase; margin-bottom: 16px;}
.vegan-info .right-box p.tit span.en_s{font-size: 64px; font-style: italic;}
.vegan-info .right-box p.txt{font-size: 14px; color: #fff; margin-bottom: 69px; font-weight: 400;}
.vegan-info .right-box .img-box{position: relative;width: 88%;height: 88%;}
.vegan-info .right-box .img-box .img {width: 100%; position: absolute; left: 0; top: 0;}
.vegan-info .right-box .img-box .img img{width: 100%;}

.vegan-info .right-box .img-box .img:nth-child(2){opacity: 0;}
.vegan-info .right-box .img-box .img:nth-child(2) img{filter:brightness(50%);width: 100%;}
.vegan-info .right-box .img-box .img:nth-child(2) .en{position: absolute; left: 50%; top: 50%;font-size: 60px;transform: translate(-50%,-50%); color: #fff; text-align: center; text-transform: uppercase;}
.vegan-info .right-box .img-box .img:nth-child(2) .en p.txt{font-size: 18px; margin: 0; padding-top: 20px;}
.vegan-info .right-box .img-box:hover .img:nth-child(2){opacity: 1;}


/* materials */

.materials .inner{padding: 200px 270px; background: #f3f4f0; display: flex;justify-content: space-between; overflow: hidden;}

.materials .inner .fix {width: 48%; top: 0;left: 0; position: sticky;}
.materials .inner .fix h2.title{font-size: 18px;margin-bottom: 16px;}
.materials .inner .fix p.en{margin-bottom: 14px; font-size: 70px; font-weight: 600;}
.materials .inner .fix p.en span.en_s{font-style: italic;font-weight: 400;}
.materials .inner .fix p.en span.color{color: #45663C;}
.materials .inner .fix p.txt{font-size: 16px; font-weight: 700; color: rgba(34, 34, 34, 0.4)}

.materials .inner ul.list {width: 44%;height: 100%; box-sizing: border-box;}
.materials .inner ul.list li{position: relative; border-radius: 8px;overflow: hidden; width: 100%; aspect-ratio: 1 / 1; margin-bottom: 230px;}
.materials .inner ul.list li .video-wrap{width: 100%;}
.materials .inner ul.list li .video-wrap video{width: 100%}
.materials .inner ul.list li h3.tit{font-size: 40px; font-weight: 600; color: #fff; position: absolute; left: 50%; top: 40px;width: 90%; transform: translateX(-50%);}
.materials .inner ul.list li .text-box {background: rgba(0,0,0,0.2); padding: 20px 30px; position: absolute; left: 50%; bottom: 40px; color: #fff; border-radius: 8px; width: 90%; height: 43%; transform: translateX(-50%);}

.materials .inner ul.list li .text-box p.tit{font-size: 20px; font-weight: 500; margin-bottom: 8px;}
.materials .inner ul.list li .text-box p.txt{font-size: 16px; line-height: 1.5; }



.materials .inner ul.list li:nth-child(2) .video-wrap{filter:brightness(85%)}
.materials .inner ul.list li:nth-child(3) h3.tit{color: #222;}
.materials .inner ul.list li:nth-child(3) .text-box{background: rgba(255,255,255,0.4); color: #222;}
.materials .inner ul.list li:nth-child(4) .text-box{background: rgba(255,255,255,0.15);}
.materials .inner ul.list li:nth-child(5) .video-wrap{filter:brightness(80%)}

/* short */
.short {background: #202020;width: 100%;;color:#fff;}
.short .inner{padding:167px 110px 167px 110px;margin: 0 auto;display: flex;justify-content: space-between;}

.short .inner .card-big{position: relative;}
.short .inner .card-big .bg {position: absolute;top: 15px;left: 15px;display: flex;justify-content: center;background: #B89E8E;padding: 5px 10px 5px 10px;border-radius: 30px;font-size: 20px;color: #454040;font-weight: 500;}
.short .inner .card-small .bg {position: absolute;;display: flex;justify-content: center;background: #B89E8E;padding: 5px 10px 5px 10px;border-radius: 30px;font-size: 18px;color: #454040;font-weight: 500;top: 15px;left: 15px;}
.short .inner .card-small .right-small {position: relative;}
.short .inner .card-small .right-small .bg {position: absolute;display: flex;justify-content: center;background: #B89E8E;padding: 5px 10px 5px 10px;border-radius: 30px;font-size: 18px;color: #454040;font-weight: 500;top: 15px;left: 15px;} 

.short .inner .card-small .txt {background: #fff;color: #222222;padding:24px 24px 24px;border-radius: 0 0 10px 10px;}
.short .inner .card-big .text{background:#fff;color:#202020;padding:24px 24px 24px;}
.short .inner .card-big .text .title{font-size: 26px;font-family: 'Yoon Gothic' ,sans-serif;font-weight: 700;padding-bottom: 20px;}
.short .inner .card-big .text .desc{font-size: 16px; padding-bottom: 20px;font-family: 'Yoon Gothic' ,sans-serif;font-weight: 600;line-height: 1.3;} 
.short .inner .card-big .text .views{font-size: 18px;}
.short .card-big .img img{width:100%; display:block;}

.short .inner .shorts-right .shorts-header{text-align: center;font-size: 70px;line-height: 1;margin-bottom: 20px;font-weight: 500;}
.short .inner .shorts-right .shorts-header span{font-family: 'PPEditorialNew',serif;font-style: italic;font-weight: 500;}

.short .inner .shorts-right .sub{text-align: center;margin-bottom: 10%;line-height: 1.2;font-size: 14px;font-family: 'PPMori',sans-serif;font-weight: 300;}

.short .inner .card-small{display: flex;width: 100%;justify-content: space-between;align-items: center;gap: 24px;position: relative; }
.short .inner .card-small .txt .title {font-size: 20px;margin-bottom: 20px;font-weight: 500;}

.shorts-cta{position: relative;}
.shorts-cta .btn-stroy .icon{width: 80px;height: 80px;background: #3b3b3b; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center;margin-top: 4%;position: absolute;left: 90%;}
.shorts-cta .btn-stroy .icon img{transform: rotate(-30deg);width: 40px;height: 40px; opacity: 1;}


/* shorts */
.shorts{width: 100vw;}
.shorts .inner{ padding: 270px 110px;}
.shorts ul{display: flex; justify-content: center; gap: 74px;align-items: flex-end;}
.shorts ul li {width: 18%; height: 18%; border: 1px solid rgba(34, 34, 34, 0.1); border-radius: 8px; overflow: hidden; position: relative; background: #fff;}
.shorts ul li a{display: block; width: 100%;height: 100%;}
.shorts ul li p.img{width: 100%;height: 400px;aspect-ratio: 3 / 4; }
.shorts ul li p.img img{width: 100%;height: 100%;object-fit: cover;}
.shorts ul li:nth-child(2){ z-index: 4; transform: translateY(clamp(-36px, -5vw, -24px)) scale(1.25)translateX(-60px) ;}

.shorts ul li p.badge{background: rgba(255,255,255,0.4); display: inline-block; padding: 4px 12px; border-radius: 100px; position: absolute; top: 4%;left: 8%; border: 1px solid rgba(0,0,0,0.1);}

.shorts ul li .text-box{padding: 24px;}
.shorts ul li .text-box p.name{margin-bottom: 20px; font-size: 16px; font-weight: 700;}
.shorts ul li .text-box p.num{font-size: 14px; font-weight: 500; color: {34,34,34,0.8};}


/* connect */
.connect .inner{margin: 300px auto 480px;position: relative;}
.connect h2.tit{font-size: 100px; color: #53311E; position: absolute;}
.connect h2.tit:nth-child(1){left: 50%; top: -8%; transform:translateX(-50%) ;font-weight: 600}
.connect h2.tit:nth-child(2){left: 50%; bottom: -8%; transform:translateX(-50%) ; font-style: italic; font-weight: 500;}
.connect p.img{text-align: center; width: 74%;margin: 0 auto;}
.connect p.img img{object-fit: cover;width: 100%;aspect-ratio: 5 / 3;}

.connect p.sub{font-size: 24px; color: rgba(34,34,34,0.7); position: absolute; font-weight: 300;}
.connect .inner p.sub:nth-child(1){left: 24%;bottom: -18%;}
.connect .inner p.sub:nth-child(2){right: 23%;bottom: -28%}
.connect p.deco{position: absolute; width: 10%;}
.connect p.deco img{width: 100%;}

.connect p.deco.a{left: 6%; top: 9%; transform: scale(.9);aspect-ratio: 3 / 4;}
.connect p.deco.b{left: 10%; bottom: -17%; transform: scale(1.2);aspect-ratio: 3 / 4;}
.connect p.deco.c{right: 6%; bottom: -19%;transform: scale(1.1); aspect-ratio: 3 / 4;}
.connect p.deco.d{right: 11%; bottom: -45%;transform: scale(1.3); aspect-ratio: 3 / 4;}





/* footer */
footer{color: #fff; background: #202020; overflow: hidden;}
footer .inner{padding: 140px 110px 60px;}
footer .top-box{display: flex; justify-content: space-between;margin-bottom: 100px;}
footer .top-box .left-box{display: flex;width: 50%; flex-wrap: wrap; row-gap: 60px;}
footer .top-box .left-box ul{width: 30%;}
footer .top-box .left-box ul li{font-size: 14px; margin-bottom: 12px;}
footer .top-box .left-box ul li:last-child{margin-bottom: 0;}
footer .top-box .left-box ul li.tit{color: rgba(255,255,255,0.6);margin-bottom: 18px;}
footer .top-box .right-box{display:block; width: 20%; cursor: pointer;}
footer .top-box .right-box ul{display: flex;justify-content: space-between; border-bottom: 1px solid #fff;}
footer .top-box .right-box li{font-size: 14px; padding: 10px 0; }
footer .top-box .right-box li img{width: 12px;height: 12px;}
footer .bottom-box{display: flex; gap: 70px;}
footer .bottom-box p.logo{color: #fff;}


.floating {display: block; padding: 14px; position: fixed; right: 6%; bottom: 5%; background: #fff; border-radius: 50%;width: 48px;height: 48px; display: flex; justify-content: center; align-items: center; }
.floating img{width: 24px;height: 24px; transform: rotate(-90deg);}
