@charset "utf-8";
/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}


.wrap{position: relative; box-sizing: border-box;  margin: 0 auto;  width: 100%; }

.en{font-family: 'PPMori',sans-serif; font-style: normal;}
.en_s{font-family: 'PPEditorialNew',serif; font-style: normal;}

/* header */
header{width: 100%; padding: 60px 110px 20px; position: fixed; top: 0;left: 0; z-index: 100; display: flex;justify-content: space-between;}
header .logo{display: inline-block;}
header p.img{width: 100%;}
header p.img img{width: 100%;}
header ul.nav{display: flex; gap: 64px; font-size: 16px; font-weight: 500;}
header ul.nav li a{display: block; width: 100%;height: 100%;}
header ul.menu-icon{display: flex; gap: 24px;}
header ul.menu-icon li a{display: block; width: 100%;height: 100%;}


.hero .visual{position: relative;}
.hero .visual .txt{font-family: 'Yoon Gothic', sans-serif;}

.hero .visual .visual-img{width: 100%; position: relative;}
.hero .visual .visual-img::before{content: '';background: linear-gradient(to top, rgba(0,0,0,0.25), rgba(0,0,0,0)); width: 100%;height: 100%;left: 0;bottom: 0; position: absolute;}
.hero .visual .visual-img img{width: 100%;}
.hero .visual .en_s{font-size: 110px; font-weight: 400;letter-spacing: -3px; text-decoration: underline 3px; font-style: italic; position: absolute; left: 12%; bottom: 12%; z-index: 2; color: #fff;}
.hero .visual .card{position: absolute; right: 8%; bottom: 4%; background: linear-gradient( 135deg, rgba(255,255,255,0.5),rgba(255,255,255,0.2));padding: 34px 30px; color: #fff; border-radius: 20px;height: 586px; backdrop-filter: blur(2px); overflow: hidden;}

.hero .visual .card .title{display: flex;justify-content: space-between; align-items: center; gap: 134px;}
.hero .visual .card .title h3.name{font-size: 32px; margin-bottom: 42px;}
.hero .visual .card .title h3.name span.txt{display: block; font-size: 18px; padding-top: 4px; font-weight: 500;}
.hero .visual .card .title a.btn{display: block; width: 50px;height: 50px;background: #222; border-radius: 50%; padding: 10px; text-align: center;}
.hero .visual .card .title a.btn img{width: 20px;height: 20px;}
.hero .visual .card .text-box{margin-bottom: 8px;}
.hero .visual .card .text-box p.text{font-size: 60px; text-transform: uppercase;}
.hero .visual .card p.text{font-size: 16px;}
.hero .visual .card p.img{position: absolute;right: 76px; bottom: -24px;}
.hero .visual .line-img{position: absolute; left:32%; bottom: 35%;}


/* filter */

.itam{ padding: 200px 110px 160px; gap: 160px; width: 100%;position: relative;}
.itam .inner{display: flex;gap: 160px;}
.filter{width: 16.1%; }
.filter .title{font-size: 24px; text-transform: uppercase; font-weight: 500; padding-bottom: 38px;}
.filter .title a{display: block; width: 100%;height: 100%;}
.filter .filter-group .name-box a {display: flex; justify-content: space-between; padding: 16px  8px 20px; border-top: 1px solid #000; font-size: 20px;}
.filter ul.list{display: flex; flex-wrap: wrap; gap: 20px; padding-bottom: 16px;}
.filter ul.list li{width: 100%;}
.filter ul.list li a{display: block; width: 100%;height: 100%;padding: 0 8px; font-size: 18px;}

.filter .Category {display: flex; flex-wrap:wrap; font-size: 20px; font-weight: 500; border-top: 1px solid #000;border-bottom: 1px solid #000; position: relative;}
.filter .Category::before{content: '';left: 0; top: 50%; width: 100%;height: 1px; background: #000; position: absolute;}
.filter .Category li{width: 100%;}

.filter .Category li a{display: flex; padding:16px 8px; width: 100%; justify-content: space-between;}


/* product */

.products{width: 74.5%; display: flex; flex-wrap: wrap; gap: 160px;}
.product-list{width: 100%;box-sizing: border-box; overflow: visible;}
.products .top-box{width: 100%;}
.products .top-box p.text{font-size: 20px; padding-bottom: 24px;}
.products .title-box{display: flex;justify-content: space-between; margin-bottom: 60px;}
.products .title-box .left p.title{font-size: 40px; font-weight: 600;}
.products .title-box .left p.sub{font-size: 36px; font-style: italic; text-decoration: underline;}
.products .title-box .right{display: flex; gap: 20px;}
.products .title-box .right p.img{width: 54px;height: 54px;background: #222; text-align: center; line-height: 46px; border-radius: 50%;}
.products .title-box .right p.img:nth-child(1){transform: rotate(180deg);}
.products .title-box .right p.img img{width: 24px;}


/* 슬라이드 */
.products .shop-swiper .swiper-slide {background: #f3f4f0; width: 400px;height: 564px; border-radius: 15px;overflow: visible;}
.products .shop-swiper a{display: block; width: 100%;height: 100%; padding: 30px 32px; }
.products .shop-swiper .top{display: flex; justify-content: space-between; margin-bottom: 40px;}
.products .shop-swiper .top p.badge{font-size: 12px; padding: 10px 20px; background: #45663C; color: #fff; border-radius: 100px;}
.products .shop-swiper .top p.icon{width: 40px;height: 40px;background: #fff; border-radius: 50%; text-align: center; line-height: 30px;}
.products .shop-swiper .top p.icon img{width: 20px;height: 20px;}
.products .shop-swiper p.img {margin: 0 auto; width: 220px;height: 330px;margin-bottom: 40px;}
.products .shop-swiper p.img img{width: 100%;}
.products .shop-swiper .bottom{display: flex; justify-content: space-between;}
.products .shop-swiper .bottom h4.name{font-size: 20px; font-weight: 400;}
.products .shop-swiper .bottom p.price{font-size: 24px; font-weight: 600;}


/* footer */
footer{color: #fff; background: #202020;}
footer .inner{padding: 140px 110px 60px;}
footer .top-box{display: flex; justify-content: space-between;margin-bottom: 100px;}
footer .top-box .left-box{display: flex;width: 50%; flex-wrap: wrap; row-gap: 60px;}
footer .top-box .left-box ul{width: 30%;}
footer .top-box .left-box ul li{font-size: 14px; margin-bottom: 12px;}
footer .top-box .left-box ul li:last-child{margin-bottom: 0;}
footer .top-box .left-box ul li.tit{color: rgba(255,255,255,0.6);margin-bottom: 18px;}
footer .top-box .right-box{display:block; width: 20%; padding: ;}
footer .top-box .right-box ul{display: flex;justify-content: space-between; border-bottom: 1px solid #fff;}
footer .top-box .right-box li{font-size: 14px; padding: 10px 0; }
footer .top-box .right-box li img{width: 12px;height: 12px;}
footer .bottom-box{display: flex; gap: 70px;}
footer .bottom-box p.logo{color: #fff;}


.floating {display: block; padding: 14px; position: fixed; right: 6%; bottom: 5%; background: #fff; border-radius: 50%;}
.floating img{width: 42px;height: 42px; color: #222;}