@charset "utf-8";
/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}


.wrap{position: relative; box-sizing: border-box;  margin: 0 auto;  width: 100%;}

.en{font-family: 'PPMori',sans-serif; font-style: normal;}
.en_s{font-family: 'PPEditorialNew',serif; font-style: normal;}


/* header */
header{width: 100%; padding: 60px 110px 20px; position: fixed; top: 0;left: 0; z-index: 100; display: flex;justify-content: space-between;}
header .logo{display: inline-block;}
header p.img{width: 100%;}
header p.img img{width: 100%;}
header ul.nav{display: flex; gap: 64px; font-size: 16px; font-weight: 500;}
header ul.nav li a{display: block; width: 100%;height: 100%;}
header ul.menu-icon{display: flex; gap: 24px;}
header ul.menu-icon li a{display: block; width: 100%;height: 100%;}



/* main */
.main .inner{display: flex; justify-content: space-between; padding: 110px;}
.main .inner .left{width: 50%;}
.main .inner .left ul.main-Keyword{font-size: 26px; position: relative; font-family: 'PP Mori'; font-style: Semibold;}
.main .inner .left ul.main-Keyword li{ border: 0.5px solid black; position: absolute;border-radius: 100px; text-align: center; padding: 5px;}
.main .inner .left ul.main-Keyword li:nth-child(1) {width: 15%; top:119px; left: 0px; }
.main .inner .left ul.main-Keyword li:nth-child(2) {width: 4.5%; height: 40px;  top: 119px; left: 138px; }
.main .inner .left ul.main-Keyword li:nth-child(3) {width: 4.5%; top: 159px; left: 50px; }
.main .inner .left ul.main-Keyword li:nth-child(4) {width: 19%; top: 159px; left: 90px;background: #C1D0BA;}
.main .inner .left ul.main-Keyword li:nth-child(5) {width: 15%; top: 199px; left: 0px;}
.main .inner .left ul.main-Keyword li:nth-child(6) {width: 15%; top: 239px; left: 90px;background: #C1D0BA;}
.main .inner .left ul.main-Keyword li:nth-child(7) {width: 15%; top: 279px; left: 0px;}
.main .inner .left ul.main-Keyword li:nth-child(8) {width: 10%; top: 329px; left: 110px; transform: rotate(30deg); background: #C1D0BA;}
.main .inner .left .main-Small ul{position: relative; }
.main .inner .left .main-Small ul li {width: 8px; height: 8px;  border-radius: 50%;position: absolute;}
.main .inner .left .main-Small ul li:nth-child(1){top: 280px; left: 482px; background: #000;}
.main .inner .left .main-Small ul li:nth-child(2){top: 412px; left: 601px; background: #ccc;}
.main .inner .left .main-Small ul li:nth-child(3){ top: 404px; left: 620px; background: #ccc;}
.main .inner .left .main-Small p{position: absolute; top: 440px; left: 570px; font-size: 19px; font-family: 'PP Mori';}
.main .inner .left .main-Small .video {position: absolute; top: 465px; left: 570px; z-index: 1000px; opacity: 0;}
.main .inner .left h2{width: 100%; margin: 480px 0 0 0; font-size: 90px; align-items: flex-end; font-family: 'PP Mori'; font-style: Semibold;}
.main .inner .left h2 p:nth-of-type(2){font-family: 'PP Editorial New'; font-style: Regular;}

.main .inner .right {width: 52.45%; display:flex; flex-direction: column;}
.main .inner .right img{ vertical-align: top; margin-top: 200px;}
.main .inner .right  a.btn {color: #fff; text-align: center; display: block;background: #000;width: 15%; height: 50%;  padding: 10px;background: #4B4B4B; display: flex; justify-content: space-between; margin: 20px; font-family: 'PP Mori'; }
.main .inner .right  a img{width: 100%;height: 100%;display: block;}



/* typo */
.typo{padding: 162px 110px 236px 110px;width:100%; background:#fff; overflow:hidden;position: relative;}
.typo .inner{margin: 0 auto; display:flex;align-items:center;justify-content:flex-end;}
.typo .inner .tit1{text-align: right;font-size:160px ;}
.tit1 span:empty{display:inline-block; width:230px;}   
.tit1 span:not(:empty){display:inline-block; font-family:"PP Editorial New", serif;font-style:italic;font-weight:400;color: #BEBEBE;}
.tit1 span:not(:empty) span:empty{display:inline-block; width:220px;}
.typo .inner .typo-img .img1{position: absolute;top: 29%;left: 64%;}
.typo .inner .typo-img .img2{position: absolute;bottom:14%;right: 43%;}

/* ingre */
.ingre {width: 100%;overflow: hidden;background: #F3F4F0;}
.ingre .inner {padding: 0px 110px 0px 110px; display: flex;justify-content: space-between;}
.ingre .inner .ingre-leftbox{display: flex;align-items: center;width: 50%;}
.card-clip{width: 100%; height: 1120px; overflow: hidden; display: flex; position: relative;}
.ingre .card {width: 47%; display: flex; justify-content: space-between; flex-wrap: wrap;}
.ingre .card li {width: 355px;/*  */;height: 400px;margin: 0 20px 20px;background: #FFFFFF; position: relative;overflow: hidden;}
.ingre .card li a {display: block;width: 100%;height: 100%; position: relative; z-index: 2;transition: transform .6s; margin: 30px;}
.ingre .card li a .textbox{margin-top: 195px; font-size: 18px;}
.ingre .card li a .textbox span.b, .ingre .card2 li a .textbox span.b{font-style: italic; display: block;font-size: 18px;font-family: 'PPMori',sans-serif;}
.ingre .card2 {width: 48%; display: flex; justify-content: space-between; flex-wrap: wrap;transform: translateY(-215px)}
.ingre .card2 li {width: 355px;padding: 30px;height: 400px;margin: 0 20px 20px;background: #FFFFFF; position: relative;overflow: hidden;}
.ingre .card2 li a {display: block;width: 100%;height: 100%; position: relative; z-index: 2;transition: transform .6s ease,}
.ingre .card2 li a .textbox{margin-top: 195px;}

.ingre .ingre-rightbox {margin:215px auto 0 ;width: 36%;}
.ingre .ingre-rightbox .tit {font-size: 100px;font-family: 'PPMori',sans-serif;}
.ingre .ingre-rightbox .txt {font-size: 40px;margin-bottom: 450px;font-family: 'PPMori',sans-serif;font-weight: 500;}
.ingre .ingre-rightbox .txt span {font-size: 48px;font-family:"PP Editorial New", serif;font-style: italic;}
.ingre .ingre-rightbox .txt2 {font-size: 20px;font-family: 'PPMori',sans-serif;}
.ingre .ingre-rightbox .txt2 span {font-size: 28px;font-family:"PP Editorial New", serif;font-style: italic;}

/* ingre hover*/
.ingre .card li::after,.ingre .card2 li::after{content: ''; position: absolute; left: 0; top: 0;background: url(../img/ingre_leaf_hover.png) no-repeat center/cover; z-index: 4; width: 100%;height: 100%; opacity: 0;transform: scale(1)}

.ingre .card li:nth-child(2)::after{ background-image:url(../img/ingre_clay_hover.png); }
.ingre .card li:nth-child(3)::after{ background-image:url(../img/ingre_seed_oil_hover.png);}
.ingre .card2 li:nth-child(1)::after{background-image: url(../img/ingre_extract_hover.png);}
.ingre .card2 li:nth-child(2)::after{background-image: url(../img/ingre_salt_hover.png);}
.ingre .card2 li:nth-child(3)::after{background-image: url(../img/ingre_extract2_hover.png);}
.ingre .card2 li:nth-child(4)::after{background-image: url(../img/ingre_bamdoo_hover.png);}

.ingre .card li:hover:after, .ingre .card2 li:hover:after{opacity: 1; transform: scale(1.08); transition-duration: .4s;}


/* story */
.story{padding: 240px 110px 75px 110px;background: #F3F4F0}
.story .top-textBox {margin-bottom: 220px;}
.story .top-textBox .sub-tit{ font-size: 32px;font-family: 'PPMori',sans-serif;}
.story .top-textBox .tit{font-size: 70px;font-family:"PP Editorial New", serif;font-style: italic;color: #3B3B3B;padding-bottom: 14px;}
.story .top-textBox .sub-tit2{color: #45663C;font-size: 16px;font-family: 'Yoon Gothic',sans-serif;font-weight: 500;}
.story .bottom-textBox {width: 100%;}
.story .bottom-textBox ul{display: flex;justify-content: flex-end;gap: 48px;}
.story .bottom-textBox ul .txt {font-family: 'PPMori',sans-serif;color: #848484;font-weight: 500;}

/* keyword */
.keyword .inner {width: 100vw;height: 100vh;position: relative;}
.keyword .face{width: 100vw;height: 100vh;object-fit: cover;position: absolute; left: 0; top: 0; filter: brightness(0.7);}
.keyword .rows {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 45%;font-size: 50PX;font-family: 'PPMori',sans-serif;}
.keyword .rows .italic {font-family:"PP Editorial New", serif;font-style: italic;font-weight: 400;line-height: 2;}
.keyword .rows ul.list {display: flex;justify-content: space-between;align-items: center;width: 100%;color: #FFF;}
.keyword .rows ul.list  {margin-bottom: 56px;}
.keyword .rows ul.list li.love {border-bottom: 2px solid #fff; padding: 0 8px; width: 47%;}
.keyword .rows ul.list li.love span{padding-left: 69%;}





/* package */
.Package .inner {width: 100%; padding: 110px;}
.Package .inner .top h2{width: 88.54%; font-size: 60px; font-family: 'PP Editorial New'; font-style: Reguler;}
.Package .inner .middle{width: 100%; display: flex; }
.Package .inner .middle .left{width: 42%;}
.Package .inner .middle .left p{ font-size: 40px; margin: 256px auto;font-family: 'PP Mori'; font-style: Reguler;}
.Package .inner .middle .right{width: 58%; display: flex; justify-content: flex-end; margin:  200px auto;}
.Package .inner .middle .right span.img{width: 20%;}
.Package .inner .middle .right ul{ font-family: 'Yoon Gothic 700'; font-style: 40; margin: 300px 0 0 100px;}
.Package .inner .middle .right li p{font-size: 16px; margin:10px auto; }
.Package .inner .under img{width: 100%; }


.topBox h2{width: 88.54%; color: #45663C; font-size: 100px; margin: 5.73%;  font-family: 'PP Editorial New'; font-style: italic;}
.bottom {width: 88.54%; display: flex; justify-content: space-between; margin: 5.73%;}


/* Timeline 1*/
.timeline1 .inner {padding: 110px;} 
.timeline1 .inner .topBox h2{width: 100%; color: #45663C; font-size: 100px; font-family: 'PP Editorial New'; font-style: italic;}
.timeline1 .inner .bottom {width: 100%; display: flex; justify-content: space-between;}

.timeline1 .inner .bottom .left {width: 44%;}
.timeline1 .inner .bottom .left span {font-size: 40px; color: rgba(60, 60, 60, 0.4);font-family: 'PP Editorial New'; font-style: italic;}
.timeline1 .inner .bottom .left h1 {font-size: 180px; color:#3c3c3c; font-family: 'PP Editorial New'; font-style: italic;}
.timeline1 .inner .bottom .left p:nth-of-type(1){font-size: 24px; color: rgba(60, 60, 60, 0.8);font-family: 'PP Editorial New'; font-style: italic;}
.timeline1 .inner .bottom .left p:nth-of-type(2){font-size: 18px;}

.timeline1 .inner .bottom .right {width: 56%; display: flex; position: relative;}
.timeline1 .inner .bottom .right img{width: 90%;  margin-left: auto; }
.timeline1 .inner .bottom .right a{position: absolute; border: 1px solid #000}

/* Timeline 2*/
.timeline2 .inner {padding: 110px;} 
.timeline2 .inner .topBox h2{width: 100%; color: #45663C; font-size: 100px; font-family: 'PP Editorial New'; font-style: italic;}
.timeline2 .inner .bottom {width: 100%; display: flex; justify-content: space-between;}

.timeline2 .inner .bottom .left {width: 43%;}
.timeline2 .inner .bottom .left img:nth-of-type(1) {width: 40%;}
.timeline2 .inner .bottom .left img:nth-of-type(2) {width: 40%;}

.timeline2 .inner .bottom .right {width: 57%; position: relative; display: flex;}
.timeline2 .inner .bottom .right span img{position: absolute; top:-100px; left: 100px; }
.timeline2 .inner .bottom .right .txt{margin-left: auto;}
.timeline2 .inner .bottom .right .txt p:nth-of-type(2) {font-size: 24px; color: rgba(60, 60, 60, 0.4); font-family: 'PP Editorial New'; font-style: italic;}
.timeline2 .inner .bottom .right .txt p{font-size: 18px; color: rgba(60, 60, 60, 0.8);}
.timeline2 .inner .bottom .right .txt h1 {font-size: 180px; color:#3c3c3c;font-family: 'PP Editorial New'; font-style: italic;}


/* timeline 3 */
.timeline3 .inner {padding: 110px;}
.timeline3 .inner .topBox h2{width: 100%; color: #45663C; font-size: 100px; font-family: 'PP Editorial New'; font-style: italic;}
.timeline3 .inner .bottom {width: 100%; display: flex; justify-content: space-between;}

.timeline3 .inner .bottom .left {width: 60%;}
.timeline3 .inner .bottom .left img:nth-of-type(1) {width: 50%;} 
.timeline3 .inner .bottom .left img:nth-of-type(2) {width: 49%; margin-top: 300px;}

.timeline3 .inner .bottom .right {width: 40%; display: flex;}
.timeline3 .inner .bottom .right .txt{margin-left: auto;}
.timeline3 .inner .bottom .right .txt h1{font-size: 180px; color:#3c3c3c; font-family: 'PP Editorial New'; font-style: italic; }
.timeline3 .inner .bottom .right .txt span{font-size: 24px; color: rgba(60, 60, 60, 0.4);font-family: 'PP Editorial New'; font-style: italic;}
.timeline3 .inner .bottom .right .txt p{font-size: 18px; color: rgba(60, 60, 60, 0.8);}


/* timeline 4 */
.timeline4 .inner {padding: 110px;}
.timeline4 .inner .topBox h2{width: 100%; color: #45663C; font-size: 100px; font-family: 'PP Editorial New'; font-style: italic;}
.timeline4 .inner .bottom {width: 100%; display: flex; justify-content: space-between;}

.timeline4 .inner .bottom .left_timeline_4{width: 50%;}
.timeline4 .inner .bottom .left_timeline_4 img:nth-of-type(1) {width: 28%; margin-top: 100px; } 
.timeline4 .inner .bottom .left_timeline_4 img:nth-of-type(2) {width: 50%; margin: 25px;}

.timeline4 .inner .bottom .right {width: 50%; display: flex;}
.timeline4 .inner .bottom .right .txt {margin-left: auto;}
.timeline4 .inner .bottom .right .txt h1{font-size: 180px; color:#3c3c3c;font-family: 'PP Editorial New'; font-style: italic;}
.timeline4 .inner .bottom .right .txt span{font-size: 24px; color: rgba(60, 60, 60, 0.4);font-family: 'PP Editorial New'; font-style: italic;}
.timeline4 .inner .bottom .right .txt p{font-size: 18px; color: rgba(60, 60, 60, 0.8);}

/* timeline 5 */
.timeline5 .inner {padding: 110px;}
.timeline5 .inner .topBox h2{width: 100%; color: #45663C; font-size: 100px;  font-family: 'PP Editorial New'; font-style: italic;}
.timeline5 .inner .bottom {width: 100%; display: flex; justify-content: space-between;}


.timeline5 .inner .bottom .left {width: 50%;}
.timeline5 .inner .bottom .left img:nth-of-type(1) {width: 40%; margin-top: 100px;} 
.timeline5 .inner .bottom .left img:nth-of-type(2) {width: 40%; margin: 0 25px 50px;}

.timeline5 .inner .bottom .right {width: 50%;  display: flex;}
.timeline5 .inner .bottom .right .txt {margin-left: auto;}
.timeline5 .inner .bottom .right .txt span{font-size: 24px; color: rgba(60, 60, 60, 0.4); font-family: 'PP Editorial New'; font-style: italic;}
.timeline5 .inner .bottom .right .txt p{font-size: 18px; color: rgba(60, 60, 60, 0.8);}
.timeline5 .inner .bottom .right .txt h1{font-size: 180px; color:#3c3c3c; font-family: 'PP Editorial New'; font-style: italic;}


/* timeline 6 */
.timeline6 .inner {padding: 110px;} 
.timeline6 .inner .topBox h2{width: 100%; color: #45663C; font-size: 100px; font-family: 'PP Editorial New'; font-style: italic;}
.timeline6 .inner .bottom {width: 100%; display: flex; justify-content: space-between;}

.timeline6 .inner .bottom .left{width: 50%;}
.timeline6 .inner .bottom .left img:nth-of-type(1) {width: 100%;} 

.timeline6 .inner .bottom .right {width: 50%; display: flex;}
.timeline6 .inner .bottom .right .txt {margin-left: auto;}
.timeline6 .inner .bottom .right .txt h1{font-size: 180px; color:#3c3c3c; font-family: 'PP Editorial New'; font-style: italic;}
.timeline6 .inner .bottom .right .txt span{font-size: 24px; color: rgba(60, 60, 60, 0.4); font-family: 'PP Editorial New'; font-style: italic;}
.timeline6 .inner .bottom .right .txt p{font-size: 18px; color: rgba(60, 60, 60, 0.8);}


/* beauty */
.beauty {background: #202020;position: relative;padding: 0 34px;overflow:hidden;height: 1588px;}
.beauty .inner {margin: 0 auto; height: 100%;}
.beauty .inner .beauty-title{position: absolute;top: 18%;left: 50%;transform: translate(-50%, -50%);color: #fff;z-index: 10;}
.beauty .inner .beauty-title .tit{font-size: 90px;text-align: center;font-family: 'PPMori',sans-serif;font-weight: 500;line-height: 1.1;}
.beauty .inner .beauty-title .tit span{font-family:"PP Editorial New", serif;font-style: italic;text-decoration: underline 3px;text-underline-offset: 6px;font-size: 80px;}
.beauty .inner .beauty-title .txt{text-align: center;margin: 20px 0 auto ;font-family: 'PPMori',sans-serif;}
.beauty .beauty-product {display: flex;width: 100%;height: auto;overflow: hidden;align-items: center;transform: translateY(-120px);margin: 0 auto;gap: 30px;box-sizing: border-box;justify-content: flex-start;}
.beauty .beauty-product .card {text-align: center;flex: 1 1 0;min-width: 0px;text-align: center;overflow:hidden}
.beauty .beauty-product .card.b {transform: translateY(-215px);}
.beauty .beauty-product .card.c {transform: translateY(-30px);}
.beauty .beauty-product .card.d {transform: translateY(-215px);}
.beauty .beauty-product .card li.logo {display: flex; justify-content: center;}
.beauty .beauty-product .card li a {display: block; width: 100%; height: 100%;}
.beauty .beauty-product .card li a img{width: 100%; height: 100%;}
.beauty .beauty-product .card li a.name{padding:50px 0;transition:transform .6s; width: 70%;height: 50%; display: block;}
.beauty .beauty-product .card li a.name img{width: 100%;height: 100%;}

/* beauty hover*/
.beauty .beauty-product .card li img {opacity: 0.35;transform: scale(1);transition:opacity .35s ease,transform .45s cubic-bezier(.22,.61,.36,1)}
.beauty .beauty-product .card li:hover img{opacity: 1; transform: scale(1.05);}





/* footer */
footer{color: #fff; background: #202020;}
footer .inner{padding: 140px 110px 60px;}
footer .top-box{display: flex; justify-content: space-between; margin-bottom: 100px;}
footer .top-box .left-box{display: flex;width: 50%; flex-wrap: wrap; row-gap: 60px;}
footer .top-box .left-box ul{width: 30%;}
footer .top-box .left-box ul li{font-size: 14px; margin-bottom: 12px;}
footer .top-box .left-box ul li:last-child{margin-bottom: 0;}
footer .top-box .left-box ul li.tit{color: rgba(255,255,255,0.6);margin-bottom: 18px;}
footer .top-box .right-box{display:block; width: 20%; padding: 0;}
footer .top-box .right-box ul{display: flex;justify-content: space-between; border-bottom: 1px solid #fff;}
footer .top-box .right-box li{font-size: 14px; padding: 10px 0; }
footer .top-box .right-box li img{width: 12px;height: 12px;}
footer .bottom-box{display: flex; gap: 70px;}
footer .bottom-box p.logo{color: #fff;}
